@using ByteCuisine.Client.Services;
@using ByteCuisine.Shared;
@inject UserStateService UserState
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container mt-5">
    <h1>Witaj @users.FirstOrDefault(u => u.User_Id == Convert.ToInt32(UserState.CurrentUser))?.Username!</h1>
    <h4>Potrawy, które jesteś w stanie zrobić:</h4>
    <div class="carousel-container">
        <div class="carousel">
            <!-- Widoczne karty przepisów -->
            @if (allDishes.Count == 0)
			{
                <p>Brak przepisów</p>
            }
            else
            {
                <button @onclick="PrzewinWLewo" class="carousel-button left-button">
                    <span class="material-symbols-outlined">arrow_back_ios</span>
                </button>
                foreach (var di in allDishes)
                {
                    <div class="card">
                        <img width="48" height="48" src="data:image/png;base64,@Convert.ToBase64String(di.DishImage)" alt="@di.Name" />
                        @di.Name
                    </div>
                }
                <button @onclick="PrzewinWPrawo" class="carousel-button right-button">
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </button>
            }

@*             @foreach (var przepis in WidocznePrzepisy)
            {
                <div class="card">@przepis</div>
            } *@
        </div>

    </div>
    <button class="btn btn-success" @onclick="@NavigateToNewPage">Dodaj swoje własne przepisy!</button>
</div>

@code {
    List<Dish> allDishes = new List<Dish>();

    List<Account> users = new List<Account>();
    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<List<Account>>("api/account");
        allDishes = await Http.GetFromJsonAsync<List<Dish>>("api/dish");
    }


    private void NavigateToNewPage()
    {
        Navigation.NavigateTo("/addrecipe");
    }

    private List<string> WszystkiePrzepisy = new List<string>
    {
        "Stek", "Jedzenie Wegetariańskie", "Posiłek", "Stek", "Stek", "Stek", "Stek", "Stek"
    };
    private int aktualnyIndeks = 0;
    private int widocznaIlosc = 1;
    private List<string> WidocznePrzepisy => WszystkiePrzepisy
        .Skip(aktualnyIndeks)
        .Take(widocznaIlosc)
        .ToList();

    private void PrzewinWLewo()
    {
        if (aktualnyIndeks > 0)
        {
            aktualnyIndeks--;
        }
    }

    private void PrzewinWPrawo()
    {
        if (aktualnyIndeks < WszystkiePrzepisy.Count - widocznaIlosc)
        {
            aktualnyIndeks++;
        }
    }


}